@model IEnumerable<VenteProjet.Models.Categorie>

@{
    ViewBag.Title = "GestionCateg";
}

<h2>Liste des catégories</h2>

<p>
    @Html.ActionLink("Nouveau", "CreateCateg")
</p>
<table>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nomcatg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nomcatg)
        </td>
        <td>
            @Html.ActionLink("Modifier", "EditCateg", new {  id=item.RefCat  }) |
            @Html.ActionLink("Supprimer", "DeleteCateg", new {  id=item.RefCat })
        </td>
    </tr>
}

</table>
